<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Booking</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <%= link_to "Home", root_path %><br />

    <% if user_signed_in? %>
      <div>Signed in as... <%= current_user.email %></div>
      <%= link_to "Edit account details", edit_user_registration_path %><br />
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
